<h1><%= @item.name %></h1>

<ul>
  <li>
    <%= @item.price %>EUR
  </li>

  <li>
    <%= @item.id %>
  </li>

  <li>
    <%= @item.description %>
  </li>

  <li>ves:
    <%= @item.weight %>kg.
  </li>
</ul>